<main class="main bg-gradient-to-r from-white via-slate-100 to-white">
   <div class="flex lg:h-screen xl:h-screen  xsm w-screen ">
     <div class="lg:w-1/2 md:w-screen flex flex-col justify-center items-center">
        <div>
          <div class="text-center">Product Auction</div>
          <mat-card appearance="outlined">
           <mat-card-content>
             <div>
               <div>Product: {{ activeProducts[0].productName }}</div>
               <div>Base Price: {{activeProducts[0].startingBid}}</div>
               <div>Highest Bid: {{highestBid || activeProducts[0].highestBid}}</div>
               <div>Bid By: {{highestBidUser || activeProducts[0].highestBidUserName}}</div>
               <div>
                 <form [formGroup]="userBidForm" (ngSubmit)="onSubmit(activeProducts[0].productId)">
                   <div>
                     <mat-form-field>
                       <mat-label>Name: </mat-label>
                       <input matInput id="user-name" type="text" formControlName="username">
                     </mat-form-field>
                   </div>
                   <div>
                     <mat-form-field>
                       <mat-label>Bid Amount: </mat-label>
                       <input matInput id="bid-amount" type="number" formControlName="bid" placeholder="Enter your bid amount">
                     </mat-form-field>
                   </div>
                   <button mat-raised-button type="submit" >Submit</button>
                 </form>
               </div>
             </div>
           </mat-card-content>
          </mat-card>
        </div>
     
        <div class="mt-5">
           <div class="text-center" >Simulator</div>
           <div>
             <mat-card appearance="outlined">
               <mat-card-content>
                 <form [formGroup]="simulationForm" (ngSubmit)="onStartSimulation(activeProducts[0].productId)" action="">
                   <div>
                     <mat-form-field>
                       <mat-label>No. Of Users</mat-label>
                       <input matInput type="number" formControlName="noOfUsers">
                     </mat-form-field>
                   </div>
                   <div class="flex justify-between">
                     <button [disabled]="!showStartBtn" mat-raised-button type="submit" >Start</button>
                    </div>
                  </form>
                  <button [disabled]="showStartBtn" mat-raised-button (click)="stopSimulation()">Stop</button>
               </mat-card-content>
             </mat-card>
           </div>
        </div>
      </div>
   
      <div class="lg:w-1/2 md:w-screen m-10">
       <div class="text-center">Log stream</div>
       <div class="h-2/3 overflow-y-auto">
         <mat-card>
           <mat-card-content>
             <div class="p-2" *ngFor="let log of logger">
               {{log}}
             </div>
           </mat-card-content>
         </mat-card>
       </div>
      </div>
   </div>
</main>



<router-outlet />
